<div class="footer">
	<div class="wrapper">
		<div class="content">
			<p>{{developed}}</p>	
		</div>
		<div class="content">
			<p><a href="mailto:{{src_email}}">{{email}}</a></p>
		</div>
		<div class="content rrss">
			<figure><a href="{{src_web}}"><img src="src/app/assets/img/web.png" alt="web"/></a></figure>
			<figure><a href="{{src_github}}"><img src="src/app/assets/img/github.png" alt="github"/></a></figure>
			<figure><a href="{{src_linkedin}}"><img src="src/app/assets/img/linkedin.png" alt="linkedin"/></a></figure>
		</div>
	</div>
</div>
