<!-- <div class="wrapper">
	<div class="movies-grid" >
		<h2>JURASSIC PARK</h2>
		<div class="sel-movie">
			<figure>
				<img src="src/app/assets/img/jurassic_park.jpg" alt="">
			</figure>
			<div class="content ficha-tecnica">
				<h4 style="text-align: left;">Director:</h4>
				<h4 style="text-align: left;">Música por: --</h4>
				<h4 style="text-align: left;">Tema principal: --</h4>
				<h4 style="text-align: left;">Duración: --min.</h4>
				<h4 class="description">Sinopsis</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, magni, quidem? Quaerat id magni quibusdam pariatur dolor quam, expedita nemo. Impedit aperiam similique, veniam sint ex rerum deleniti temporibus sit.</p>

			</div>
		</div>
	</div>
</div> -->